* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #666;
}
header {
  background-color: white;
  padding: 20px;
}
header > h1 {
  color: #666;
  text-align: center;
  font-family: sans-serif;
}
.score-board {
  border: 3px solid white;
  width: 200px;
  margin: 20px auto;
  color: white;
  font-size: 45px;
  border-radius: 4px;
  padding: 15px 20px;
  font-family: sans-serif;
  text-align: center;
  position: relative;
}
.badge {
  background-color: #e2584d;
  color: white;
  font-size: 14px;
  padding: 2px 6px;
}
#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}
#comp-label {
  position: absolute;
  top: 30px;
  right: -30px;
}
.results {
  font-size: 40px;
  color: white;
}
.results > p {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
.choices {
  margin: 50px 0;
  text-align: center;
  margin-left: 3rem;
}
.choice {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  text-align: center;
  border: 4px solid white;
  border-radius: 50%;
  padding: 10px;
  margin-right: 3rem;
  cursor: pointer;
  transition: ease-in 0.4s;
}
.choice:hover {
  background-color: #e2584d;
}
.choice > div {
  margin: 29px auto;
  color: white;
}
#action-mssg {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.5rem;
}
